# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files

# editor swap file
*.swp

# logs
error_log

# flask ignores
**/__pycache__
**/venv
**/migrations
**/app.db
**/config.py
**/.flaskenv

# security
**/app.config
