<!doctype html>
<html>
	<head>
	<meta charset="utf-8">
		<title>UIUC Chemistry Demoroom</title>
	</head>
	<body>
		<header id="header">
			<h1>Chemistry Demo Room</h1>
			<a href="{{url_for('index')}}">Home</a>
			<a href="{{url_for('request_page')}}">Request a Demo</a>
			<a href="https://chemistry.illinois.edu/holiday-magic" target="_blank">Holiday Demo Show</a>
			<a href="{{url_for('about_us')}}">About Us</a>
			<a href="{{url_for('contact_us')}}">Contact Us</a>
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}
	</body>
</html>
