{% extends 'bootstrap/base.html' %}

{% block metas %}
	{{ super() }}
{% endblock metas %}

{% block styles %}
	{{ super() }}
{% endblock styles %}

{% block scripts %}
	{{ super() }}
{% endblock scripts %}


{% block title %}
	{% if title %}{{title}} - UIUC Chemistry Demoroom{% else %}{{_('UIUC Chemistry Dmeoroom')}} {% endif %}
{% endblock title %}


{% block navbar %}
				<a href="{{url_for('index')}}">Home</a>
				<a href="{{url_for('request_page')}}">Request a Demo</a>
				<a href="https://chemistry.illinois.edu/holiday-magic" target="_blank">Holiday Demo Show</a>
				<a href="{{url_for('about_us')}}">About Us</a>
				<a href="{{url_for('contact_us')}}">Contact Us</a>
{% endblock navbar %}
		<hr>
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
			{% for message in messages %}
			<li>{{message}}</li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		{% block content %}{% endblock %}

