{% extends "base.html" %} 
{% block content %} <h1>UIUC Chemistry Demoroom</h1> <div id="opening">This website is for lecturer's at the University of Illinois at Urbana-Champaign's Chemistry Department to request chemical demonstrations for their lectures. Demos can be browsed by category or searched below. </div>
	
<div id="search_bar">
	<form action="search.php" method="get">
	<input type="text" placeholder="Enter search term(s)" name="query" id="query">
	<input type="submit" value="Search">
	</form>
</div>

<div> DEBUG: demo[0].category = {{ demo[0].category }}</div>
<div> DEBUG: demo[0].name = {{ demo[0].name }}</div>
<div id="accordian">
  <div class="card"> 
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
	{% set cat = demo[0].category %}
        {% for item in demo %}
		{% if item.category != cat %}
		<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">{{ item.category }}</button>
		{% endif %}
		{% set cat = item.category %}
	{% endfor %}
       </h5>
    </div>
	      
	

<!--
<div id="accordian">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Acids and Bases</button>
	</button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordian">
      <div class="card-body">
        Colorful Indicators - <a href=".\demos\colorful-indicators.pdf" target="_blank">View Demo Sheet</a> - <a href="html/request_page.html?demo-name0=Colorful_Indicators">Request This Demo</a>
      </div>
    </div>
  </div>
</div>
-->
	
{% endblock %}
