{% extends "base.html" %} 
{% block content %} <h1>UIUC Chemistry Demoroom</h1> <div id="opening">This website is for lecturer's at the University of Illinois at Urbana-Champaign's Chemistry Department to request chemical demonstrations for their lectures. Demos can be browsed by category or searched below. </div>
	
<div id="search_bar">
	<form action="search.php" method="get">
	<input type="text" placeholder="Enter search term(s)" name="query" id="query">
	<input type="submit" value="Search">
	</form>
</div>

<div class="accordian" id="mainAccordian">

{% set ns = namespace(category="blank") %}
{% set ns = namespace(index=0) %}
{% for item in demo %}
<!-- Code for every button -->
	{% if ns.category != item.category %}
	{{item.name}} | {{item.category}}<br>		
	{% endif %}

	{% set ns.category = item.category %}
<!-- Code for button items (demos) -->
{% endfor %}
</div>


{% endblock %}
