{% extends "base.html" %}

{% block content %}

<div>
	The University of Illinois' Chemistry Department's Demo Room is a place for chemistry lecturers to request demonstrations for their lectures. The team in the demo room consists of student workers from a variety of majors working together to prepare experiments from a catalogue of about 100 demonstrations. If you're currently an undergraduate at the University of Illinois and are interested in applying to work in the demo room, or another area of the chemistry teaching labs, please click here to apply.
</div>

<!-- Section: Testimonials v.1 -->
<section class="text-center my-5 p-1">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Our Student Workers and Lecturers</h2>

  <!-- Grid row -->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up info-color"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(9).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Torie Nawa, “Demo Queen”, former Student Worker</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Working in the Demo Room was an unforgettable experience! The holiday show and community outreach was by far the most rewarding. It took long days and a lot of hard work but was completely worth it. Dr Ray dressed as Buddy the Elf was a classic staple to the end of the show. The faculty made my time here even better. You can instantly tell that they love their jobs and that they put their lives into helping students. I learned a lot about professional development, gained amazing friends, and loved learning more about my major. I truly appreciated this experience!</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up blue-gradient">
        </div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Alexis, Junior, B.S. Chemistry, current Student Worker</h4>
          <hr>
          <!--Quotation-->
          <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>I’ve worked in the demo room for almost a year now and I love it! There are so many ways to apply the chemistry I have learned over the past three years as an undergrad. It’s one thing to learn about a reaction that happens, but it’s a whole new experience to prepare one. Along with that, I have worked with some of the best people I could ask for, including the general chemistry professors, and I wouldn’t trade the memories for anything.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Gavin, current Student Worker</h4>
          <hr>
          <!--Quotation-->
	  <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>This job is really for anyone who has a passion for chemistry and an interest in learning more than what the general courses require. I can easily say that working for and getting to know the professors on a more meaningful level has changed my view on the courses themselves and even brought a little more life to my day. The people that I have had the privilege to work with have become like a demo room family. If you have 10+ hours a week that you find yourself doing nothing, and if you want to have fun while learning/working, I couldn’t recommend working in the demo room more. You’ll make lasting memories and friendships that you’ll take with you long past college. Shoutout to the OG demo crew: Faith, Alexis and Olivia</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->
  </div>
  <!--Grid row-->

  <!--Grid row-->
  <div>
    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Faith, Senior, B.S. Chemistry, current Student Worker</h4>
          <hr>
          <!--Quotation-->
	  <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Working in the demo room for the last two semesters has easily been one of the greatest experiences of my college career. Being able to work closely with professors and help them to teach others about topics that I find so much passion in has been extremely rewarding. This opportunity has allowed me to grow as a young professional in the chemistry department. I am also thankful to be able to say that I have been lucky enough to work with some of the most reliable and intelligent people that this university has to offer. I couldn’t have asked for a better group of people to spend my last year on campus working with</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Emilee "Demo Queen" Nawa, former Student Worker</h4>
          <hr>
          <!--Quotation-->
	  <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>The demo room taught me so much about chemistry, responsibility, and leadership. I am truly grateful for the many hours and days spent within those 4 walls preparing experiments, reaching out to the community, and (a personal favorite) the annual holiday show. This job brought me many mentors, teachers, inside jokes, and lifelong friendships. It is an opportunity that I will always be grateful for having.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->


    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Dr. Mutha Gunasekera, Chemistry Lecturer</h4>
          <hr>
          <!--Quotation-->
	  <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>The best student reaction I’ve had about demos: ‘… It gave me Chills..!</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->


    <!--Grid column-->
    <div class="col-lg-4 col-md-6">
      <!--Card-->
      <div class="card testimonial-card">
        <!--Background color-->
        <div class="card-up indigo"></div>
        <!--Avatar-->
        <div class="avatar mx-auto white">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded-circle img-fluid">
        </div>
        <div class="card-body">
          <!--Name-->
          <h4 class="font-weight-bold mb-4">Tom Hummel, Chemistry Lecturer</h4>
          <hr>
          <!--Quotation-->
	  <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>We are spoiled here with the demo room supplies and staff. Their outstanding work and professionalism is an essential part of educating our students.</p>
        </div>
      </div>
      <!--Card-->
    </div>
    <!--Grid column-->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Testimonials v.1 -->

{% endblock %}
