{% extends "base.html" %}

{% block content %} 
<h1>UIUC Chemistry Demoroom</h1> 

<div id="opening">This website is for lecturer's at the University of Illinois at Urbana-Champaign's Chemistry Department to request chemical demonstrations for their lectures. Demos can be browsed by category or searched below. </div> 

<div id="search_bar">
<form action="{{ url_for('search') }}" method="post">
{{ form.hidden_tag() }}
{{ form.name.label }}
{{ form.name(size=32) }}
<input type="submit" value="Search">
{% for error in form.name.errors %}
<span style"color: red;">[{{ error }}]</span>
{% endfor %}
</form>
</div>

<div id="search-results">
	{% for item in results %}
		{{ item.proper_name }}<br>
	{% endfor %}
</div

{% endblock %}
